.form {
  background-color: rgb(152, 108, 108);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px rgba(186, 225, 13, 0.5);
  width: 40%;
  height: 40%;
  border-radius: 10%;
}
